<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginAccount</servlet-name>
        <servlet-class>LoginAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signout</servlet-name>
        <servlet-class>Signout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateUserName</servlet-name>
        <servlet-class>ValidateUserName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rate</servlet-name>
        <servlet-class>rate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReservation</servlet-name>
        <servlet-class>AddReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelReservation</servlet-name>
        <servlet-class>CancelReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cancel</servlet-name>
        <servlet-class>Cancel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminSearch</servlet-name>
        <servlet-class>adminSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmReservation</servlet-name>
        <servlet-class>confirmReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mailconfirm</servlet-name>
        <servlet-class>mailconfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelReservation</servlet-name>
        <servlet-class>cancelReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeCheckIn</servlet-name>
        <servlet-class>MakeCheckIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeCheckOut</servlet-name>
        <servlet-class>MakeCheckOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckHotel</servlet-name>
        <servlet-class>CheckHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateroomserv</servlet-name>
        <servlet-class>updateroomserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addRoomServ</servlet-name>
        <servlet-class>addRoomServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getResult</servlet-name>
        <servlet-class>getResult</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAccount</servlet-name>
        <url-pattern>/LoginAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signout</servlet-name>
        <url-pattern>/Signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateUserName</servlet-name>
        <url-pattern>/ValidateUserName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rate</servlet-name>
        <url-pattern>/rate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReservation</servlet-name>
        <url-pattern>/AddReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelReservation</servlet-name>
        <url-pattern>/CancelReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cancel</servlet-name>
        <url-pattern>/Cancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminSearch</servlet-name>
        <url-pattern>/adminSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmReservation</servlet-name>
        <url-pattern>/confirmReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mailconfirm</servlet-name>
        <url-pattern>/mailconfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelReservation</servlet-name>
        <url-pattern>/cancelReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeCheckIn</servlet-name>
        <url-pattern>/MakeCheckIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeCheckOut</servlet-name>
        <url-pattern>/MakeCheckOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckHotel</servlet-name>
        <url-pattern>/CheckHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateroomserv</servlet-name>
        <url-pattern>/updateroomserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addRoomServ</servlet-name>
        <url-pattern>/addRoomServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getResult</servlet-name>
        <url-pattern>/getResult</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
